# PostgreSQL container initialization

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_database


# Go API -> PostgreSQL

DB_HOST=postgres
DB_PORT=5432
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_NAME=your_postgres_database
DB_SSLMODE=disable


# Go API -> Redis

REDIS_HOST=redis
REDIS_PORT=6379


# JWT

JWT_SECRET=your_jwt_secret